@import "component/variable";
@import "component/group-mixin";


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    list-style: none;
    text-decoration: none;
    border: none;
    font-family: $mainFont;
    line-height: 1.5rem;
}

body {
    display: flex;
    flex-direction: column
}

@import "component/nav";
@import "component/button";

