@import "component/nav";
@import "main";
@import "component/button";

main {
    display: flex;
    flex-direction: column;
    grid-column: 3 / 13;
    padding: 20px;
    gap: 40px;
    overflow-y: scroll;
    .all-cate {
        flex: 1;
        display: flex;
        justify-content: center;
        gap: 20px;
        width: 100%;
        button {
            padding: 10px 30px;
            background: transparent;
            border: 1px solid $mainBorderColor;
            color: rgb(101, 101, 101);
        }
        .active {
            background: $mainBtnActive;
        }
    }
    .table-container {
        flex: 6;
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 20px;
        button {
            width: 180px;
            @include flexCenter;
            padding: 10px;
            gap: 10px;
        }
        table {
            width: 100%;
            border-collapse: collapse;
            thead {
                tr {
                    background-color: $mainBtnBg;
                    color: white;
                }
                th {
                    padding: 10px;
                }
            }
            td, th {
                padding: 8px;
                border: 1px solid $mainBorderColor;
            }
            td {
                padding: 10px;
            }
            td:nth-child(3) {
                text-align: center;
            }
        }
    }
}