@import "main";
@import "component/nav";

main {
    grid-column: 3/13;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;

    .product-info {
        flex: 1;
        padding: 20px;
        display: flex;
        gap: 20px;
        box-shadow: rgba(33, 35, 38, 0.43) 0px 10px 10px -10px;
        background: hsl(0, 0%, 93%, 0.8);
        z-index: 1;
        .pro {
            padding: 10px 20px;
            border-radius: 5px;
            @include flexBetween;
            flex-direction: column;
            flex: 1;
            border: 1px solid $mainBorderColor;
            background: white;
            cursor: pointer;
            gap: 20px;
            .name {
                @include flexBetween;
            }
            .number {
                display: flex;
                flex-direction: column;
                gap: 5px;
                h2 {
                    color: rgb(164, 164, 164);
                }
            }
        }
        .after {
            background: $mainBtnBg;
        }
    }
    .table-container {
        overflow-y: scroll;
        flex: 3;
        padding: 40px;
        display: flex;
        flex-direction: column;
        gap: 20px;

        h2 {
            color: $mainBtnBg;
        }
        table {
            width: 100%;
            border-collapse: collapse;
            background-color: #fff;
            thead {
                tr {
                    background: $mainBtnActive;
                    th {
                        padding: 15px;
                        color: white;
                    }
                }
            }
            td {
                padding: 10px;
            }
            th, td {
                border: 1px solid $mainBorderColor;
            }
        }
    }
}