@import "main";
@import "component/nav";

main {
    grid-column: 3/13;
    display: flex;
    // background: tomato;

    .category {
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: 40px;

        .total {
            // width: 100%;
            display: flex;
            justify-content: space-between;
            gap: 20px;
            .total-pay {
                padding: 10px;
                flex: 1;
                display: flex;
                flex-direction: column;
                border: 1px solid rgba(235, 235, 227, 0.329);
                background-color: #fff;
                gap: 20px;
                border-radius: 3px;
                transition: 0.3s;
                &:hover {
                    background:rgba(235, 235, 227, 0.308);
                }

                .new-order {
                    display: flex;
                    justify-content: space-between;
                }
            }
        }

        .orders-list {
            // padding: 20px;
            width: 100%;

            table {
                width: 100%;
                padding: 15px;
                tr,
                th,
                td {
                    border: 1px solid $mainBorderColor;
                    border-collapse: collapse;
                    background: $mainBorderColor;
                    padding: 20px;
                    text-align: center;
                }

                th {
                    background: $mainBtnBg;
                    color: $mainBorderColor;
                }
                
            }

        }
    }
}
