@import "main";

//  main products
main {
    @include flexCenter;
    flex-direction: column;
    grid-column: 3 / 10;
    border-right: 1px solid $mainBorderColor;

    .search-item {
        width: 95%;
        @include flexBetween;
        align-items: center;
        padding: 10px 0px;

        .category {
            button {
                color: $mainBg;
                font-size: 17px;
                background: $mainBtnBg;
                color: white;

                &:hover {
                    background: hsl(179, 89%, 22%, 0.9)
                }
            }
        }

        #filter {
            @include flexBetween;
            align-items: center;
            background: white;
            color: black;
            border: 1px solid $mainBorderColor;
            padding: 0px 5px;

            &:active {
                outline: 1px ridge rgb(132, 132, 132, .3);
            }

            select {
                padding: 10px;
                font-size: 17px;
            }
        }

        .search {
            position: relative;

            span {
                position: absolute;
                top: 20%;
                left: 7px;
                color: $mainBg;
            }

            input {
                width: 120px;
                padding: 7px 5px 7px 35px;
                border-radius: 50px;
                color: rgb(50, 50, 50);
                transition: width 0.4s ease-in-out;
                font-size: 17px;
                outline: 1px ridge rgb(132, 132, 132, .3);

                &:focus {
                    width: 250px;
                    outline: 2px ridge rgb(132, 132, 132, .4);
                }
            }
        }
    }

    .main-container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        gap: 10px;
        overflow-y: scroll;
        width: 100%;
        height: 100%;
        padding: 20px;
        border: 1px solid #eeeeee;
        background: hsl(0, 0%, 93%, 0.5);

        @import "component/card";
    }
}

// Detail Products
aside {
    grid-column: 10 / 13;
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 20px;

    h3 {
        color: $mainBg;
    }

    .pro-detail {
        flex: 1;
        display: flex;
        flex-direction: column;
        gap: 10px;
        justify-content: space-between;

        .img-detail {
            border-radius: 3px;
            overflow: hidden;
            @include flexCenter;
            height: 170px;

            img {
                width: 100%;
            }
        }
        .total {
            font-weight: 600;
        }
        .pro {
            display: flex;
            justify-content: space-between;
            flex: 1;
            color: $mainBg;
        }
    }

    .update {
        display: flex;
        gap: 20px;

        button:nth-child(1) {
            background: tomato;
            color: white;
        }
    }
}

.form-container {
    position: absolute;
    width: 100%;
    height: 100%;
    background: hsl(0, 0%, 0%, 0.4);
    z-index: 100;
    @include flexCenter;

    form {
        width: 50%;
        padding: 30px;
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        background-color: #fff;
        gap: 40px;
        animation: flot 0.5s;

        h2 {
            color: $mainBtnBg;
            width: 100%;
            display: flex;
        }

        .header,
        .price-qty {
            display: flex;
            gap: 20px;
        }

        label {
            font-size: 18px;
            cursor: pointer;
        }

        input {
            padding: 7px 10px;
            width: 100%;
            border-radius: 3px;
            font-size: 17px;
            background: $mainBorderColor;
            outline: 1px ridge rgb(132, 132, 132, .3);

            &:focus {
                outline: 2px ridge rgb(132, 132, 132, .3);
            }
        }

        .category {
            display: flex;
            align-items: center;
            gap: 10px;

            select {
                padding: 10px;
                width: 80%;
                font-size: 17px;
                background: $mainBorderColor;
                outline: 1px ridge rgb(132, 132, 132, .3);
                border-radius: 3px;
            }
        }

        .group-btn {
            display: flex;
            justify-content: flex-end;
            gap: 20px;

            button {
                width: 100px;
            }

            button:nth-child(1) {
                background: tomato;
                color: white;

                &:hover {
                    background: hsl(9, 93%, 60%);
                }
            }
        }
    }
}

@keyframes flot {
    0% {
        transform: translateY(10%);
        opacity: 0.7;
    }

    50% {
        opacity: 0.9;
    }

    100% {
        transform: translateY(0%);
        opacity: 1;
    }
}