@import "main";

main {
    @include flexCenter;
    flex-direction: column;
    grid-column: 3 / 10;
    border-right: 1px solid $mainBorderColor;
    .search-item {
        width: 95%;
        @include flexBetween;
        align-items: center;
        padding: 10px 0px;

        .category {
            button {
                color: $mainBg;
                font-size: 17px;
                background: $mainBtnBg;
                color: white;

                &:hover {
                    background: hsl(179, 89%, 22%, 0.9)
                }
            }
        }

        #filter {
            @include flexBetween;
            align-items: center;
            background: white;
            color: black;
            border: 1px solid $mainBorderColor;
            padding: 0px 5px;

            &:active {
                outline: 1px ridge rgb(132, 132, 132, .3);
            }

            select {
                padding: 10px;
                font-size: 17px;
            }
        }

        .search {
            position: relative;

            span {
                position: absolute;
                top: 20%;
                left: 7px;
                color: $mainBg;
            }

            input {
                width: 120px;
                padding: 7px 5px 7px 35px;
                border-radius: 50px;
                color: rgb(50, 50, 50);
                transition: width 0.4s ease-in-out;
                font-size: 17px;
                outline: 1px ridge rgb(132, 132, 132, .3);

                &:focus {
                    width: 250px;
                    outline: 2px ridge rgb(132, 132, 132, .4);
                }
            }
        }
    }

    .main-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 10px;
        overflow-y: scroll;
        width: 100%;
        height: 100%;
        padding: 20px;
        border: 1px solid #eeeeee;
        background: hsl(0, 0%, 93%, 0.5);

        @import "component/card";
    }
}

// Detail Products
aside {
    grid-column: 10 / 13;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #fff;
    .table-container {
        flex: 3;
        overflow-y: scroll;
        table {
            width: 100%;
            border-collapse: collapse;
            thead tr th {
                padding: 20px 10px;
            }
            tr {
                border-bottom: 1px solid $mainBorderColor;
                font-size: 15px;
            }
            th, td {
                padding: 10px;
                text-align: end;
            }
            td {
                color: #7e7e7e;
                input {
                    width: 40px;
                    border: 1px solid $mainBorderColor;
                    text-align: center;
                }
            }
            th:nth-child(1), td:nth-child(1) {
                text-align: start;
            }
            th:nth-child(4) {
                color: tomato;
            }
            span {
                background-color: tomato;
                border-radius: 50%;
                color: white;
                cursor: pointer;
            }
        }
    }
    .checkout {
        padding: 20px;
        @include flexBetween;
        flex-direction: column;
        flex: 1;
        gap: 40px;
        background: $mainBg;
        border-radius: 4px 4px 0px 0px;
        box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
        color: white;
        .total-price {
            display: flex;
            gap: 15px;
            .total {
                @include flexBetween;
                gap: 15px;
            }
            @include flexBetween;
            flex-direction: column;
            span {
                font-size: 18px;
                color: #dddddd;
            }
        }
        .confirm {
            @include flexBetween;
            align-items: center;
            button:nth-child(1) {
                background: transparent;
                border: 1px solid #dddddd;
                font-size: 10px;
                width: 30px;
                height: 30px;
                @include flexCenter;
            }
        }
    }

}

.form-container {
    position: absolute;
    width: 100%;
    height: 100%;
    background: hsl(0, 0%, 0%, 0.4);
    z-index: 100;
    @include flexCenter;
    display: none;

    #close {
        position: absolute;
        top: 10px;
        right: 5px;
        font-size: 35px;
        color: white;
        cursor: pointer;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        &:active {
            background: #ffffff5d;
        }
    }

    form {
        width: 40%;
        height: 50%;
        padding: 20px;
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 20px;
        background-color: #fff;
        animation: flot 0.5s;
        h2 {
            color: $mainBtnBg;;
        }
        .name {
            display: flex;
            gap: 20px;
            .f-name, .l-name {
                flex: 1;
                display: flex;
                flex-direction: column;
            }
        }
        label {
            cursor: pointer;
        }
        input {
            width: 100%;
            color: rgb(50, 50, 50);
            font-size: 17px;
            padding: 5px 15px;
            outline: 1px ridge rgb(132, 132, 132, .3); 
            border-radius: 2px;
        }
    }
}

@keyframes flot {
    0% {
        transform: translateY(10%);
        opacity: 0.7;
    }

    50% {
        opacity: 0.9;
    }

    100% {
        transform: translateY(0%);
        opacity: 1;
    }
}