@import "variable";
button {
    padding: 10px 20px;
    font-size: 15px;
    border-radius: 3px;
    background-color: $mainBtnBg;
    color: white;
    transition: 0.4s;
    &:active {
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    }
}
.after{
    background: $mainBtnActive;
    color: white;
}

.category-after {
    background: $mainBg;
    color: white;
    display: flex;
    align-content: inherit;
    gap: 5px;
}