@import "variable";
button {
    padding: 10px 25px;
    font-size: 15px;
    border-radius: 3px;
    background-color: $mainBtnBg;
    color: white;
    transition: 0.4s;
}
.after{
    background: #586271;
    color: white;
}

.category-after {
    background: $mainBg;
    color: white;
}