@import "group-mixin";

.card {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    overflow: hidden;
    height: 220px;
    padding: 10px;
    cursor: pointer;
    transition: 0.3s;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    .card-header {
        height: 65%;
        overflow: hidden;
        border-radius: 5px;
        @include flexCenter;
        img {
            width: 100%;
        }
    }
    .card-footer {
        height: 35%;
        flex-direction: column;
        padding: 5px 0px 0px 0px;
        @include flexBetween;
        h4 {
            font-weight: 500;
        }
        h2 {
            font-size: 18px;
        }
    }
}