@import "group-mixin";

.card {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    overflow: hidden;
    height: 200px;
    padding: 5px;
    cursor: pointer;
    transition: 0.3s;
    .card-header {
        height: 65%;
        overflow: hidden;
        border-radius: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        img {
            width: 100%;
        }
    }
    .card-footer {
        height: 35%;
        flex-direction: column;
        @include flexBetween;
        h2 {
            font-size: 18px;
        }
    }
}