@import "variable";
@import "group-mixin";

nav {
    grid-column: 1 / 19;
    padding: 5px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
    @include flexBetween;
    background: $mainBg;
    border-bottom: 1px solid $mainBorderColor;
    .nav-left {
        flex: 6;
        color: $mainBtnBg;
    }
    .nav-right {
        flex: 1;
        @include flexBetween;
        height: 100%;
        align-items: center;
        span {
            color: white;
            cursor: pointer;
        }
        .profile {
            display: flex;
            color: white;
            p {
                margin-top: 5px;
            }
            span {
                color: $mainBtnBg;
            }
        }
        button {
            border-radius: 50%;
            width: 50px;
            height: 50px;
            @include flexCenter;
            &:active {
                background: #c9c9c93d;
            }
        }
    }
}